body {
  background-color: $clr-900;
  font-size: $fs-100;
}

main {
  overflow: hidden;
}

.container {
  margin: 0 16px;
}

.breakline {
  height: 1px;
  background-color: $clr-500;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 30px;
  }
  .breakline__skill {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin: 0 165px;
  }
}
