// Main Colors

$clr-900: #151515;
$clr-800: #4ee1a0;
$clr-700: #242424;
$clr-600: #d9d9d9d9;
$clr-500: #ffffff;

//Font size
$fs-100: 16px;
$fs-200: 18px;
$fs-300: 24px;
$fs-400: 32px;
$fs-500: 40px;
$fs-600: 48px;
$fs-700: 72px;
$fs-800: 88px;

// Font-weight
$fw-700: 700;
$fw-500: 500;

// Line-height
$lh-100: 26px;
$lh-200: 28px;
$lh-300: 30px;
$lh-400: 32px;
$lh-500: 40px;
$lh-600: 72px;
$lh-700: 88px;

//Font-family
$ff-primary: "Space Grotesk", sans-serif;
